.btnF {
  position: fixed;
  z-index: 100;
  margin: auto 1.4rem 1.4rem;
  bottom: 0;
  right: 0;
  background-color: #01e675;
  color: #fff;
  border: none;
  width: 64px;
  height: 64px;
  border-radius: 100px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
  font-size: 14px;
  i {
    font-size: 34px;
    margin: auto 18px;
    outline: none;
  }
}
