.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.64);
  height: 64px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 8px 20px 0 rgba(0, 0, 0, 0.24);
  z-index: 100;

  p {
    font-size: 18px;
    color: #ccc;
  }

  .toolbar-navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
  }

  .toolbar-logo {
    margin-left: 1.5rem;
    figure {
      img {
        width: auto;
        height: 64px;
        border-radius: 50px;
      }
    }
  }

  .toolbar-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
  }

  .space-list {
    flex: 1;
  }

  .toolbar-navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .toolbar-navigation-items li {
    padding: 0 0.5rem;
  }

  .toolbar-navigation-items a {
    color: #fff;
    text-decoration: none;
    margin: auto;
    &:hover {
      color: #36a9e0;
    }
  }

  .toolbar-search {
    margin: auto 12px;
    border: none;
    background: none;
    border-bottom: 1px solid #fff;
    outline: none;
    color: #fff;

    &::placeholder {
      color: #ccc;
    }

    &:placeholder-shown {
      color: #36a9e0;
    }
  }
}

@media (max-width: 768px) {
  .toolbar-navigation-items {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar-toggle-button {
    display: none;
  }

  .toolbar-logo {
    margin-left: 0;
  }
}
