.clients-card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  img {
    transition: transform 0.7s ease;
    height: 240px;
    &:hover {
      transform: scale(1.5);
    }
  }
}
