.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 26px;
  width: 32px;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  .toggle-button-line {
    width: 32px;
    height: 2px;
    background-color: #fff;
  }
}
