.btnF {
  position: fixed;
  z-index: 100;
  margin: auto 12px;
  top: 1;
  right: 0;
  background-color: #01e675;
  color: #fff;
  border: none;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
  font-size: 14px;
  i {
    font-size: 36px;
    margin: auto 20px;
  }
}
